
table.stat {
    text-align:center;
    vertical-align: middle;
    width: 100%;
    border-collapse: collapse;
    font-size: small;
  }

th.stat{
    width: 12%;
    font-weight: 700;
    border: .05rem inset var(--md-typeset-table-color);
    border-top: 0px;
    border-bottom: 0px;
}

td.stat{
    width: 12%;
    border: .05rem inset var(--md-typeset-table-color);
    border-top: 0px
}

table.stat tr:last-child td.stat{
    border-top: 0px;
    border-bottom: 0px;
}

th.stat-icon{
    border: .05rem inset var(--md-typeset-table-color);
    border-left: 0px;
    border-top: 0px;
}

table.stat tr:nth-last-child(2) th.stat-icon{
    border-bottom: 0px;
}

table.stat tr th.stat:last-child{
    border-right: 0px;
}
table.stat tr td.stat:last-child{
    border-right: 0px;
}

td.stat-single{
    width: 12%;
    border: .05rem inset var(--md-typeset-table-color);
    border-top: 0px
}
table.stat tr:last-child td.stat-single{
    border-bottom: 0px;
}
table.stat tr td.stat-single:last-child{
    border-right: 0px;
}

td.stat-icon-single{
    border: .05rem inset var(--md-typeset-table-color);
    border-left: 0px;
    border-top: 0px;
}
table.stat tr:last-child td.stat-icon-single{
    border-bottom: 0px;
}
